[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
fabric3 = "*"
flake8 = "*"
ipython = "*"
pycodestyle = "*"
tox = "==3.7.0"
tox-pipenv = "*"
pygraphviz = "*"
pandas = "*"

[packages]
django = "*"
django-extensions = "*"
django-geonames-place = {ref = "master",editable = true,git = "https://github.com/kingsdigitallab/django-geonames-place.git"}
django-kdl-ldap = "*"
django-libsass = "*"
django-model-utils = "*"
django-redis = "*"
django_compressor = "*"
psycopg2-binary = "*"
graphene-django = "*"
django-filter = "*"
django-rq = "*"
xlrd = "*"
unidecode = "*"

[requires]
python_version = "3.5"
